<a href="https://colab.research.google.com/github/lynsaydunne/30-Days-Of-Python/blob/master/Foundation_Python_and_SQL_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Foundation Python and SQL Examples
### *READ THIS FIRST*

This document is a **Jupyter Notebook**, a type of document that is typically used to share Python code (though we'll be using it for SQL as well). It is made up of individual boxes, or **cells**, that can contain either text or code.

If you want to try out any of your own code inside this document, make a copy of the document in your own Google Drive so that you can edit it. Either use File > Save a Copy, or the button just below File / Edit / View / Insert that says Copy to Drive.

If you want to try out any of your own SQL code specifically, you should first run the **Setup** cell below by clicking on the small round **Play** button to the left of the word Setup. Please be patient - it might take up to a minute.

In [1]:
#@title Setup { display-mode: "form" }
#@markdown Run this cell to prepare MySQL and all the required databases. Rerun the cell whenever you start a new session, or if you think your database might have shut down. **Do not edit its contents.**
#
#@markdown *If any errors occur upon running this cell, please ask for help.*
!printf "Installing MySQL server... "; apt-get install mysql-server > /dev/null && echo -e "success" || echo "failure"
!printf "Starting MySQL server... "; service mysql start > /dev/null && echo "success" || echo "failure"
!printf "Creating Bakery and Bank DBs... " ; printf "DROP DATABASE IF EXISTS example; DROP DATABASE IF EXISTS Bakery; DROP DATABASE IF EXISTS bank; CREATE DATABASE example; CREATE DATABASE Bakery; USE Bakery; CREATE TABLE Sweet (id INT NOT NULL, item_name VARCHAR(50) NOT NULL, price FLOAT(2)); CREATE TABLE Savoury (id INT NOT NULL, item_name VARCHAR(50) NOT NULL, price FLOAT(2), main_ingredient VARCHAR(50)); INSERT INTO Sweet (id, item_name, price) VALUES (1, 'doughnut', 0.50), (2, 'croissant', 0.75), (3, 'painauchocolat', 0.55), (4, 'cinnamon twirl', 0.45), (5, 'cannoli', 0.88), (6, 'apple tart', 1.12); INSERT INTO Savoury (id, item_name, price, main_ingredient) VALUES (1, 'meat pie', 1.25, 'pork'), (2, 'sausage roll', 1.00, null), (3, 'pasty', 2.45, 'beef'); CREATE DATABASE bank; USE bank; CREATE TABLE accounts (account_number int(11) DEFAULT NULL, account_holder_name varchar(50) DEFAULT NULL, account_holder_surname varchar(50) DEFAULT NULL, balance float DEFAULT NULL, overdraft_allowed tinyint(1) DEFAULT NULL); INSERT INTO accounts (account_number, account_holder_name, account_holder_surname, balance, overdraft_allowed) VALUES (111112, 'Julie', 'Smith', 150, true), (111113, 'James', 'Andrews', 20, false), (111114, 'Jack', 'Oakes', -70, true), (111115, 'Jasper', 'Wolf', 200, true);" > create_dbs.sql
!mysql -u root < create_dbs.sql && echo "success" || echo "failure"
!printf "Installing MySQL client... "; pip install mysqlclient >> /dev/null && echo "success" || echo "failure"
!printf "Attempting to create database connection for root user... "
import IPython, sqlalchemy, time; sqlalchemy.create_engine('mysql://root@localhost/')
%reload_ext sql
%sql mysql://root@localhost/
%sql SELECT CASE WHEN (SELECT SUM(TABLE_ROWS) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA IN ('Bakery', 'bank')) = 13 THEN 'Success' ELSE 'Failure' END AS '';

Installing MySQL server... success
Starting MySQL server... success
Creating Bakery and Bank DBs... success
Installing MySQL client... success
Attempting to create database connection for root user...  * mysql://root@localhost/
1 rows affected.

[('Success',)]

# Python

### Data types

In order to handle the data floating around in programs sensibly, Python needs to know what kind of data it is dealing with. It uses a classification system called _typing_, which comes up in lots of programming languages in slightly different ways.

---

**Analogy**: imagine you are in a dark room and you have a spherical object in your hand, but you don't know if it's an orange or a cricket ball. You need some extra information before you can tell whether you should try to eat it or throw it. Python is the same - it might have a small set of bytes in its memory, but it needs to know whether it is numeric data, text data or something else before it tries to (for example) square it or capitalize it.

---

**Basic Python data types we studied:**

- string
- int
- float
- bool

None of these can be edited directly. If we want to change a single letter in a string, for example, we have to create a new one with the altered letter and throw out the old one. The technical term for this is that they are _immutable_ (it is not possible to _mutate_ or change them).

---

**More complex collection data types we studied:**
- list
- tuple
- set
- dict

All of these except for tuples can be edited directly (or _"in place"_). They are called _mutable_ (it is possible to _mutate_ or change them).

In [ ]:
print(type("Emily"), "Emily")
print(type(25),      25)
print(type(178.5),   178.5)
print(type(True),    True)

print()

print(type(["Emma", "Leslie", "Zhaonan"]), ["Emma", "Leslie", "Zhaonan"])
print(type(("Emma", "Leslie", "Zhaonan")), ("Emma", "Leslie", "Zhaonan"))
print(type({"Emma", "Leslie", "Zhaonan"}), {"Emma", "Leslie", "Zhaonan"})
print(type({"Emma": 100, "Leslie": 100}),  {"Emma": 100, "Leslie": 100})

<class 'str'> Emily
<class 'int'> 25
<class 'float'> 178.5
<class 'bool'> True

<class 'list'> ['Emma', 'Leslie', 'Zhaonan']
<class 'tuple'> ('Emma', 'Leslie', 'Zhaonan')
<class 'set'> {'Emma', 'Leslie', 'Zhaonan'}
<class 'dict'> {'Emma': 100, 'Leslie': 100}

In [ ]:
# Lists are mutable - it is possible to change an item in a list after creating it

fruits = ['apple', 'banana', 'cherry']
fruits[0] = 'apricot'
print(fruits)

['apricot', 'banana', 'cherry']

In [ ]:
# Tuples are immutable - trying to change an item in a tuple after creating it will cause an error

fruits = ('apple', 'banana', 'cherry')
fruits[0] = 'apricot'
print(fruits)

TypeError: ignored

In [ ]:
# Strings are immutable - trying to change a character in a string after creating it will cause an error

my_class = 'fullstack-1'
my_class[-1] = '2'  # Try to change my_class to fullstack-2 by editing the string directly
print(my_class)

TypeError: ignored

In [ ]:
# Strings are immutable - to change a character in a string, you need to throw out the old string and make a new one

my_class = 'fullstack-1'
my_class = my_class.replace('1', '2')  # Try to change my_class to fullstack-2 by making a new string with '1' replaced with '2'
print(my_class)

fullstack-2

### Variables

## Conditional statements

In [ ]:
# Using if statements

print("Welcome to Canary Wharf!")
response = input("Do you already know your way to the conference? Enter Y for yes or N for no: ")

if response == 'N':
    print("Go through the barriers and proceed to one of the elevators on the left. Go to floor 13, and ask at the reception there for further directions.")

Welcome to Canary Wharf!
Do you already know your way to the conference? Enter Y for yes or N for no: N
Go through the barriers and proceed to one of the elevators on the left. Go to floor 13, and ask at the reception there for further directions.

In [ ]:
# Using if/else statements

print("Let's order a pizza!")
response = input("Should we get a garlic bread side with it? Enter Y for yes or N for no: ")

if response == 'Y':
    print("Great, the total bill will be Â£15.")
else:
    print("Ok, the total bill will be Â£10.")

Let's order a pizza!
Should we get a garlic bread side with it? Enter Y for yes or N for no: N
Ok, the total bill will be Â£10.

In [ ]:
# Using if/elif/else statements

print("Let's buy a top!")
height = int(input("What is your height, to the nearest centimetre? "))

if height < 150:
    print("You should buy the top in a size S")
elif height < 170:
    print("You should buy the top in a size M")
else:
    print("You should buy the top in a size L")

Let's buy a top!
What is your height, to the nearest centimetre? 178
You should buy the top in a size L

In [ ]:
# Using multiple elif statements

print("Let's cook some potato waffles!")
temperature = int(input("What temperature is the oven at, to the nearest degree Celsius? "))

if temperature > 220:
    print("The oven is too hot")
elif temperature < 180:
    print("The oven is not hot enough")
elif temperature == 200:
    print("The oven temperature is just right")
else:
    print("The oven temperature is close enough")

Let's cook some potato waffles!
What temperature is the oven at, to the nearest degree Celsius? 210
The oven temperature is close enough

### Loops

There are two types of loop in Python:

- `for` loops (more useful for looping through each item in a fixed list of items)
- `while` loops (more useful for creating a flexible loop that has a clear ending condition but not necessarily an obvious final item)

---

Some `for` loop examples:

In [ ]:
print("My favourite fruits:")

for fruit in ['apple', 'banana', 'cherry']:
    print(f"- {fruit.capitalize()}")

My favourite fruits:
- Apple
- Banana
- Cherry

In [ ]:
for number in range(4):
    print((number + 1) * 2, end=', ')

print("who do we appreciate? Python \U0001F389")

2, 4, 6, 8, who do we appreciate? Python ðŸŽ‰

In [ ]:
words = ['foundation', 'Python', 'and', 'SQL', 'examples']
word_lengths = []

for word in words:
    word_lengths.append(len(word))

print(word_lengths)

[10, 6, 3, 3, 8]

Some `while` loop examples:

In [ ]:
countdown = 3

while countdown > 0:
    print(countdown)
    countdown = countdown - 1  # This incrementation step is really important!

print("Let's go!")

3
2
1
Let's go!

In the `while` loop example above, the `countdown` variable starts at 3, and the incrementation step is the only thing stopping it from staying at 3 indefinitely. Without this step, the loop would just keep running without any outside intervention, since `countdown > 0` would always be true. We would call this situation an _infinite loop_.

In [ ]:
import random

compliments = ['You are good at Python', 'You are good at SQL', 'You are a hard worker', 'You are a bit of a legend']

while input("Type Y to hear a compliment or anything else to exit: ").casefold() == 'y':  # Carry on until the user types something other than Y
    print(random.choice(compliments))

Type Y to hear a compliment or anything else to exit: Y
You are good at SQL
Type Y to hear a compliment or anything else to exit: Y
You are good at Python
Type Y to hear a compliment or anything else to exit: Y
You are a hard worker
Type Y to hear a compliment or anything else to exit: N

In [ ]:
fruits = ['apple', 'banana', 'cherry']

while True:  # Carry on until we break out of the loop manually - this is something you will see quite often
    choice = input("Which is your favourite?\n1. Apples\n2. Bananas\n3. Cherries\nPlease type 1, 2 or 3: ")
    if choice in ['1', '2', '3']:
        choice_index = int(choice) - 1
        print(f"Nice, here is a {fruits[choice_index]} for you!")
        break  # Break out of the loop manually
    else:
        print("Sorry, that wasn't one of the available options! Let's try again.")
        continue

Which is your favourite?
1. Apples
2. Bananas
3. Cherries
Please type 1, 2 or 3: 4
Sorry, that wasn't one of the available options! Let's try again.
Which is your favourite?
1. Apples
2. Bananas
3. Cherries
Please type 1, 2 or 3: 3
Nice, here is a cherry for you!

### Collection data types: strings, lists, dictionaries, tuples and sets




String/list slicing
List comprehension

### Built-ins

Some common built-in functions:
- `print()` (output data to the user)
- `input()` (get input data from the user)
- `type()` (get the type of a piece of data)
- `help()` (get some help on a particular object)

Build-in functions which operate on collections (technical term in Python: _iterables_ - anything you can iterate through, or step through one-by-one)
- `len()` (get the number of items in the collection)
- `sum()` (get the sum of the item in the collection)
- `max()` (get the maximum item in the collection)
- `min()` (get the minimum item in the collection)
- `sorted()` (get a sorted version of the collection)
- `reversed()` (get an _iterator_ object that allows you to step through the collection backwards)

Built-in functions for operations involving ASCII:
- `ord()` (get the position of a specified character in the ASCII or Unicode character ordering tables)
- `chr()` (get the character at a specified position in the ASCII or Unicode character ordering tables)

Built-in methods common to `str`, `list` and `tuple` data types (ordered collections with duplicate entries possible):
- `.count()` (get the number of occurences of a particular item in the collection)
- `.index()` (get the position of a particular item in the collection)

Built-in methods common to `list`, `set` and `dict` data types (mutable collections):
- `.clear()` (empty the collection)
- `.copy()` (get a copy of the collection)
- `.pop()` (remove an item from the collection and return it to the programmer)

---

In [ ]:
print("Hello there")

Hello there

In [ ]:
name = input("What is your name? ")
print(f"Hello, {name}!")

What is your name? Emily
Hello, Emily!

In [ ]:
print(type("She sells sea shells by the sea shore"))
print(type(12345))

<class 'str'>
<class 'int'>

In [ ]:
help(ord)
help(chr)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

Help on built-in function chr in module builtins:

chr(i, /)
    Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.

In [ ]:
test_scores = [50, 100, 99, 55, 67, 88]

print(f"Number of test scores: {len(test_scores)}")
print(f"Average of test scores: {sum(test_scores) / len(test_scores)}")
print(f"Maximum test score: {max(test_scores)}")
print(f"Minimum test score: {min(test_scores)}")
print(f"Sorted test scores in ascending order: {sorted(test_scores)}")
print(f"Reversed test scores: {list(reversed(test_scores))}")
print(f"Sorted test scores in descending order: {list(reversed(sorted(test_scores)))}")
print(f"Sorted test scores in descending order: {sorted(test_scores, reverse=True)} (alternative method)")

Number of test scores: 6
Average of test scores: 76.5
Maximum test score: 100
Minimum test score: 50
Sorted test scores in ascending order: [50, 55, 67, 88, 99, 100]
Reversed test scores: [88, 67, 55, 99, 100, 50]
Sorted test scores in descending order: [100, 99, 88, 67, 55, 50]
Sorted test scores in descending order: [100, 99, 88, 67, 55, 50] (alternative method)

In [ ]:
print(ord('A'))
print(ord('Z'))
print(ord('a'))
print(ord('z'))

65
90
97
122

In [ ]:
print(chr(65))
print(chr(90))
print(chr(97))
print(chr(122))

A
Z
a
z

In [ ]:
# Example usage of ord and chr to get the next letter in the alphabet

letter = input("Enter a lowercase letter: ")[0]

if not letter.islower():
    print("The character you entered was not a lowercase letter :(")
else:
    index_in_alphabet = ord(letter) - ord('a')
    next_index = (index_in_alphabet + 1) % 26  # The % 26 ensures that if the user types 'z', the program wraps back around to 'a' rather than overshooting the alphabet
    next_letter = chr(next_index + ord('a'))
    print(f"The next letter in the alphabet is: {next_letter}")

Enter a lowercase letter: b
The next letter in the alphabet is: c

In [ ]:
import string
from pprint import pprint

sentence = "the quick brown fox jumps over the lazy dog"
letter_occurrences = {}
letter_positions = {}

for letter in string.ascii_lowercase:
    letter_occurrences[letter] = sentence.count(letter)
    letter_positions[letter] = sentence.find(letter)

print("Number of occurrences of each letter in the sentence:")
pprint(letter_occurrences)
print("Position of first occurrence of each letter in the sentence:")
pprint(letter_positions)

Number of occurrences of each letter in the sentence:
{'a': 1,
 'b': 1,
 'c': 1,
 'd': 1,
 'e': 3,
 'f': 1,
 'g': 1,
 'h': 2,
 'i': 1,
 'j': 1,
 'k': 1,
 'l': 1,
 'm': 1,
 'n': 1,
 'o': 4,
 'p': 1,
 'q': 1,
 'r': 2,
 's': 1,
 't': 2,
 'u': 2,
 'v': 1,
 'w': 1,
 'x': 1,
 'y': 1,
 'z': 1}
Position of first occurrence of each letter in the sentence:
{'a': 36,
 'b': 10,
 'c': 7,
 'd': 40,
 'e': 2,
 'f': 16,
 'g': 42,
 'h': 1,
 'i': 6,
 'j': 20,
 'k': 8,
 'l': 35,
 'm': 22,
 'n': 14,
 'o': 12,
 'p': 23,
 'q': 4,
 'r': 11,
 's': 24,
 't': 0,
 'u': 5,
 'v': 27,
 'w': 13,
 'x': 18,
 'y': 38,
 'z': 37}

In [ ]:
import random

winning_cards = ['Aâ™ ', 'Kâ™¥', 'Qâ™£', 'Jâ™¦']

winning_cards_order = winning_cards.copy()
random.shuffle(winning_cards_order)
winning_cards.clear()

print(f"First winning card: {winning_cards_order.pop()}")
print(f"Remaining cards: {winning_cards_order}\n")
print(f"Second winning card: {winning_cards_order.pop()}")
print(f"Remaining cards: {winning_cards_order}\n")
print(f"Third winning card: {winning_cards_order.pop()}")
print(f"Remaining cards: {winning_cards_order}\n")
print(f"Final winning card: {winning_cards_order.pop()}")
print(f"Remaining cards: {winning_cards_order}\n")

First winning card: Kâ™¥
Remaining cards: ['Aâ™ ', 'Jâ™¦', 'Qâ™£']

Second winning card: Qâ™£
Remaining cards: ['Aâ™ ', 'Jâ™¦']

Third winning card: Jâ™¦
Remaining cards: ['Aâ™ ']

Final winning card: Aâ™
Remaining cards: []

### Modules from the standard library


Python Modules (datetime)

Python Library (random)

### Function definition

Functions (defining our own)

Parameters and arguments

\*args and \**kwargs


Returns

### Files

More complex file handling (multi-line file handling, seleting specific lines/words)


Converting dictionaries into csv files

### Requests

Calling APIs
Using requests

# SQL